// ------Variables------//
$brightPurple: rgb(255, 2, 255);
$transparent: rgba(0,0,0,0.3);

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Black+Ops+One|Fugaz+One|Rock+Salt&display=swap);

//------Landing Page------//
a {
    color: blue;
    text-decoration: none;
    padding: 0;
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    @include flexCenter();
    overflow: hidden;
}

.section h1 {
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font-size: 4rem;
    z-index: 1;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

//------Search Page------//
header {
    color: $brightPurple;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0px;
    font-family: 'Fugaz One', cursive;
    flex: 1;
}

h1 {
    @include flexCenter();
    font-family: 'Fugaz One', cursive;
}

.holding-container {
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
}

.main-background {
    background-image: url(../img//lightning.jpg);
    width: auto;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.search-bar {
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex: 1;
}

.search-box {
    width: 300px;
    position: relative;
}

i:hover {
    color: $brightPurple;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    padding-right: 60px;
    box-sizing: border-box;
    background: $transparent;
    border: 2px solid purple;
    border-radius: 50px;
    color: rgb(255, 2, 255);
    font-size: 18px;
    outline: none;
    top: 20%;
}

.search-box input[type="text"]:hover {
    border: 2px solid $brightPurple;
}

::-webkit-input-placeholder {
    color: purple;
    
}

.fa-search {
    position: absolute;
    top: 40px;
    transform: translateY(-50%);
    right: 25px;
    color: purple;
    font-size: 25px;
}

//------Media Queries------//


@media screen and (min-width: 1000px) {

    //---Landing Page---//
    .section h1 {
        text-align: center;
        font-family: 'Black Ops One', cursive;
        font-size: 6rem;
        z-index: 1;
    }

    //---Search Page---//
    .holding-container {
        width: 100%;
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-around;
    }

    .search-bar {
        width: 100%;
        height: 100vh;
        background-size: cover;
        display: flex;
        align-items: flex-start;
        flex: 1;
    }

    .search-box {
        width: 400px;
        position: relative;
    }

    h1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-family: 'Fugaz One', cursive;
        font-size: 40px;
        padding: 0;
        line-height: 5px;
    }
}

@media screen and (min-width: 1500px) {

    //---Landing Page---//
    .section h1 {
        text-align: center;
        font-family: 'Black Ops One', cursive;
        font-size: 8rem;
        z-index: 1;
    }

    //---Search Page---//
    .holding-container {
        width: 100%;
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: row;
        justify-content: space-around;
    }

    .search-bar {
        width: 100%;
        height: 100vh;
        background-size: cover;
        display: flex;
        align-items: flex-start;
        flex: 1;
    }

    .search-box {
        width: 600px;
        position: relative;
    }

    h1 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        font-family: 'Fugaz One', cursive;
        font-size: 60px;
        padding: 0;
        line-height: 5px;
    }
}