@import url(https://fonts.googleapis.com/css?family=Black+Ops+One|Fugaz+One|Rock+Salt&display=swap);
a {
  text-decoration: none;
  padding: 0;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.enter a {
  text-align: center;
  color: blue;
  font-family: 'Black Ops One', cursive;
  font-size: 3rem;
  z-index: 1;
}

.enter a:hover {
  color: darkblue;
  -webkit-transition: .5s;
  transition: .5s;
  font-size: 4rem;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.top-container {
  padding: 5px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid purple;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

h2 {
  color: #ff02ff;
  font-size: 35px;
  font-family: "Rock Salt";
  margin: -1px;
  padding-top: 20px;
}

nav {
  color: #ff02ff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #ff02ff !important;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -1px;
  padding-right: 40px;
  list-style: none;
}

ul li a {
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  color: purple;
}

ul li a:hover {
  color: #ff02ff;
}

header {
  color: #ff02ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px;
  margin: 0px;
  font-family: 'Fugaz One', cursive;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Fugaz One', cursive;
  font-size: 25px;
  line-height: 10px;
}

.holding-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

.main-background {
  background-image: url(../img//lightning.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.search-bar {
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.search-box {
  width: 300px;
  position: relative;
}

i:hover {
  color: #ff02ff;
}

.search-box input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  padding-right: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid purple;
  border-radius: 50px;
  color: #ff02ff;
  font-size: 15px;
  outline: none;
  top: 20%;
}

.search-box input[type="text"]:hover {
  border: 2px solid #ff02ff;
}

::-webkit-input-placeholder {
  color: purple;
}

.fa-search {
  position: absolute;
  top: 30px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 25px;
  color: purple;
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  .enter a {
    font-size: 5rem;
  }
  .enter a:hover {
    font-size: 6rem;
  }
  h2 {
    font-size: 45px;
  }
  ul li a {
    font-size: 35px;
  }
  .search-box input[type="text"] {
    padding: 20px;
    font-size: 18px;
  }
  .fa-search {
    top: 40px;
  }
  h1 {
    font-size: 28px;
    line-height: 10px;
  }
}

@media screen and (min-width: 720px) {
  .enter a {
    font-size: 6rem;
  }
  .enter a:hover {
    font-size: 7rem;
  }
  .top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .site-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  h2 {
    padding-top: 0px;
    padding-left: 20px;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: right;
  }
  .holding-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  h1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 35px;
    line-height: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .enter a {
    font-size: 7rem;
  }
  .enter a:hover {
    font-size: 8rem;
  }
  h2 {
    font-size: 55px;
  }
  ul li a {
    font-size: 45px;
  }
  .holding-container {
    padding-top: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .search-box {
    width: 400px;
    position: relative;
  }
  h1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 50px;
    line-height: 20px;
  }
}

@media screen and (min-width: 1500px) {
  .enter a {
    font-size: 8rem;
  }
  .enter a:hover {
    font-size: 9rem;
  }
  .search-box {
    width: 600px;
  }
  h1 {
    font-size: 60px;
    line-height: 15px;
  }
}
/*# sourceMappingURL=style.css.map */