// ------Variables------//

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url(https://fonts.googleapis.com/css?family=Courgette&display=swap);
@import url(https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap);

//------Enter Page------//
.enter {
    @include flexCenter();
    position: relative;
    line-height: 80vh;
    font-family: 'Black Ops One', cursive;
    font-size: 90px;
    color: red;
}

a {
    text-decoration: none;
    background-color: yellow;
    padding: 0;
}

//------Main Page------//
body {
    background-image: url(../img//lightning.jpg);
    width: auto;
    height: 100vh;
    background-size: cover;
    @include flexCenter();
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    @include flexCenter();
}

.search-box {
    width: 50%;
    position: relative;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 20px;
    padding-right: 60px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.3);
    border: 2px solid purple;
    border-radius: 50px;
    color: rgb(255, 2, 255);
    font-size: 18px;
    outline: none;
}

::-webkit-input-placeholder {
    color: purple;
    
}

.fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    color: purple;
    font-size: 25px;
}